./samtools/test
./samtools/test/vcf-miniview
./samtools/test/merge
./samtools/test/merge/test_rtrans_build.o
./samtools/test/merge/test_bam_translate
./samtools/test/merge/test_bam_translate.o
./samtools/test/merge/test_trans_tbl_init.o
./samtools/test/merge/test_rtrans_build
./samtools/test/merge/test_trans_tbl_init
./samtools/test/vcf-miniview.o
./samtools/test/test.o
./samtools/test/split
./samtools/test/split/test_expand_format_string.o
./samtools/test/split/test_count_rg.o
./samtools/test/split/test_parse_args
./samtools/test/split/test_parse_args.o
./samtools/test/split/test_expand_format_string
./samtools/test/split/test_filter_header_rg.o
./samtools/test/split/test_count_rg
./samtools/test/split/test_filter_header_rg
./samtools/samtools
./samtools/htslib-1.3.1
./samtools/htslib-1.3.1/cram
./samtools/htslib-1.3.1/cram/mFILE.o
./samtools/htslib-1.3.1/cram/files.o
./samtools/htslib-1.3.1/cram/open_trace_file.o
./samtools/htslib-1.3.1/cram/vlen.o
./samtools/htslib-1.3.1/cram/cram_stats.o
./samtools/htslib-1.3.1/cram/cram_external.o
./samtools/htslib-1.3.1/cram/rANS_static.o
./samtools/htslib-1.3.1/cram/cram_io.o
./samtools/htslib-1.3.1/cram/cram_index.o
./samtools/htslib-1.3.1/cram/cram_samtools.o
./samtools/htslib-1.3.1/cram/thread_pool.o
./samtools/htslib-1.3.1/cram/sam_header.o
./samtools/htslib-1.3.1/cram/zfio.o
./samtools/htslib-1.3.1/cram/cram_encode.o
./samtools/htslib-1.3.1/cram/pooled_alloc.o
./samtools/htslib-1.3.1/cram/string_alloc.o
./samtools/htslib-1.3.1/libhts.a
./samtools/misc
./samtools/misc/maq2sam-short
./samtools/misc/ace2sam
./samtools/misc/md5sum-lite
./samtools/misc/md5fa
./samtools/misc/md5sum-lite.o
./samtools/misc/wgsim
./samtools/misc/maq2sam-short.o
./samtools/misc/ace2sam.o
./samtools/misc/maq2sam-long.o
./samtools/misc/md5fa.o
./samtools/misc/maq2sam-long
./samtools/misc/wgsim.o
./.venv
./.venv/lib64
./.venv/include
./.venv/lib
./.venv/lib/python3.5
./.venv/lib/python3.5/site-packages
./.venv/pyvenv.cfg
./.venv/bin
./.venv/bin/python3
./.venv/bin/python
./.gitignore
